
@{
    ViewBag.Title = "Index";
}

<head>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="http://vlad-pc.code40.local/chat_server/signalr/hubs"></script>
    <script src="~/Scripts/HttpClient.js"></script>
</head>

<h2>Index</h2>


<div>
    <input type="text" id="messageTextBox" placeholder="Enter your message..." />
    <input type="button" value="Send!" id="buttonSend" onclick="SendMessage()" />
</div>

<div style="width:300px; height:500px;overflow:auto;margin-top:10px;" id="messagesBox">

</div>

